<table class="styled-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Adresse</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let provider of listProviders | async">
      <!-- Si en mode édition -->
      <ng-container *ngIf="editedProvider?.id === provider.id; else normalRow">
        <td><input [(ngModel)]="editedProvider.id" /></td>
        <td><input [(ngModel)]="editedProvider.name" /></td>
        <td><input [(ngModel)]="editedProvider.address" /></td>
        <td><input [(ngModel)]="editedProvider.email" /></td>
        
      </ng-container>

      <!-- Affichage normal -->
      <ng-template #normalRow>
        <td>{{ provider.id }}</td>
        <td>{{ provider.name }}</td>
        <td>{{ provider.address }}</td>
        <td>{{ provider.email }}</td>
        <td>
          <a classe="btn btn-warning"(click)="updateProvider(provider.id)">✏️</a>
          <button (click)="deleteProvider(provider.id)">🗑️</button>
        </td>
      </ng-template>
    </tr>
  </tbody>
</table>